.price{
  align-self: flex-end;
  font-size: 36px;
  color: #f1870f;
  letter-spacing: 1px;
  line-height: 44px;
}

.old-price {
  color: #ccc;
  font-size: 20px;
  margin-left: 5px;
  text-decoration: line-through;
}