.input-numb{
  width: 100%;
  margin-left: 20px;
}

.n-i-c{
  flex:1;
}

.n-i{
  width: 70px;
  height: 80px;
  font-size: 50px;
  text-align: center;
  line-height: 80px;
  border: 1px solid #ccc;
  color: rgb(107, 105, 105);
  margin: auto;
}