.ml-2{
  margin-left: 8px;
}

.ml-5{
  margin-left: 20px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-4 {
  margin-top: 16px;
}

.com-rate{
  margin-left: auto;
}

.t1 {
  color: rgb(32, 31, 31);
}

.t2 {
  color: rgb(110, 107, 107);
}

.t3 {
  color: rgb(110, 107, 107);
}

.sm-t {
  font-size: 26px;
}

.md-t {
  font-size: 30px;
}

.row {
  display: flex;
  flex-direction: row;
}


.col {
  display: flex;
  flex-direction: column;
}


.justify-bet {
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.btn-1 {
  width: 160px;
  height: 70px;
  border-radius: 35px;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  border: none;
  background: #8dbd0e;
  color: #fff;
}