.w-200{
  width: 200px !important;
}
.w-300{
  width: 300px !important;
}
.w-400{
  width: 400px !important;
}


.p-h-2{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.p-h-4{
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.padding-2{
  padding: 10px !important;
}

.p-4{
  padding: 20px !important;
}

.pb-4{
  padding-bottom: 20px !important;
}

.p-v-4 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.padding-v-3{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mt-4 {
  margin-top: 16px !important;
}

.mt-5 {
  margin-top: 20px !important;
}

.mr-2{
  margin-right: 8px !important;
}

.mr-4{
  margin-right: 16px !important;
}

.ml-2{
  margin-left: 8px !important;
}

.ml-3{
  margin-left: 12px !important;
}

.ml-4{
  margin-left: 16px !important;
}

.ml-5{
  margin-left: 20px !important;
}

.ml-auto{
  margin-left: auto !important;
}

.t1 {
  color: rgb(32, 31, 31) !important;
}

.t2 {
  color: rgb(110, 107, 107) !important;
}

.t3 {
  color: rgb(110, 107, 107) !important;
}

.t4{
  color: #ad92e8 !important;
}

.strong{
  font-weight: bold !important;
}

.sm-t {
  font-size: 26px !important;
}

.md-t {
  font-size: 30px !important;
}


.lg-t{
  font-size: 40px !important;
}

.row {
  display: flex !important;
  flex-direction: row !important;
}

.col {
  display: flex !important;
  flex-direction: column !important;
}

.wrap{
  flex-wrap: wrap !important;
}

.justify-bet {
  justify-content: space-between !important;
}

.justify-center{
  justify-content: center !important;
}

.align-center{
  align-items: center !important;
}

.align-base{
  align-items: baseline !important;
}

.all-center{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.bg-img{
  background-size: cover !important;
  background-position: 50% 50% !important;
}

.relative{
  position: relative !important;
}

.border-t {
  border-top: 20px solid #f9f7f7 !important;
}

.border-b {
  border-bottom: 20px solid #f9f7f7 !important;
}

.border-t {
  border-top: 20px solid #f9f7f7 !important;
}

.border-b-1{
  border-bottom: 2px solid #f9f7f7 !important;
}
.border-t-1{
  border-top: 2px solid #f9f7f7 !important;
}

.btn-2{
  width: 140px !important;
  height: 60px !important;
  border-radius: 25px !important;
  font-size: 26px !important;
  text-align: center !important;
  line-height: 60px !important;
  border: 2px solid #ccc !important;
  background: #fff !important;
  color: rgb(34, 33, 33) !important;
}

.btn-1 {
  width: 160px !important;
  height: 70px !important;
  border-radius: 35px !important;
  font-size: 30px !important;
  text-align: center !important;
  line-height: 70px !important;
  border: none !important;
  background: #8dbd0e !important;
  color: #fff !important;
}

.btn-margin{
  margin: 20px !important;
}