.addr-i{
  width: 30%;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  background-color: #503e6d;
  color: #fff;
  border-radius: 16px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.add-t{
  margin-left: 10px;
  color: #ccc;
  font-size: 26px;
  height: 80px;
  line-height: 80px;
}

.now-addr{
  height: 80px;
  line-height: 80px;
}