@import "../style.scss";

.com-img-c{
  width: 32%;
  height: 210px;
  margin: 1% 1% 0 0 ;
  background-size: cover;
  background-position: 50% 50%;
}

.com-detail{
  padding-left: 10px;
}

.com-rate{
  margin-left: auto;
  
}