@import "../style.scss";

.com-img-c{
  width: 216px;
  height: 216px;
  margin: 10px 10px 0 0 ;
  background-size: cover;
  background-position: 50% 50%;
}

.com-detail{
  padding-left: 10px;
}

.com-rate{
  margin-left: auto;
}